<div ng-controller = 'MyCtrl'>
		<div class="row">
			<div class="col-md-3">
			<h3>Browser Projects</h3>
				<div class="list-group">
					<a class="list-group-item list-group-item-info"  ng-repeat="p in projects"  ng-click="setCurrentProject(p.name)">{{p.name}}</a>
				</div>
			</div>
			<div class="col-md-9">
			
				<div class="row text-center"><h4>{{currentProject.name}}</h4></div>
				<div class="row">
					<table style="width:150px;">
					<tr><td style="width:20px;"><a href="#!excution" >
						<div chart details="currentProject.details.testExcution" title="Test Excution" style="width: 300px; height: 300px" ></div>
					     </a>
						 </td>
					<td><a href="#!defect">
						<div chart details="currentProject.details.defects" title="Defects" style="width: 300px; height: 300px"></div>
					     </a>
						 </td>
					<td><a href="#!design">
						<div chart  details="currentProject.details.testdesign" title="Test Design" style="width: 300px; height: 300px"></div>
					     </a></td>
						 </tr>
</table>						 
				</div>
			
			</div>
			
		 </div>
    </div>